<header class="blur">
        <div class="adams">
            <h1 class="marge">XXXXX Julien</h1>
            <div class="english"><img src="{{headerimg[0]}}" alt="UK Flag" width="20"><a href="#">English</a></div>
        </div>
    </header>
    <nav class="blur">
        <ul class="menu">
            <li><a href="#" class="accu">Accueil</a></li>
            <li class="deroulant"><a href="#">Réalisation personnelle</a>
                <ul class="sous">
                    <li><a href="#">1er article</a></li>
                    <li><a href="#">2er article</a></li>
                    <li><a href="#">3er article</a></li>
                    <li><a href="#">4er article</a></li>
                    <li><a href="#">5er article</a></li>
                </ul>
            </li>
            <li class="deroulant"><a href="#">Projet</a>
                <ul class="sous">
                    <li><a href="#">1er article</a></li>
                    <li><a href="#">2er article</a></li>
                    <li><a href="#">3er article</a></li>
                    <li><a href="#">4er article</a></li>
                    <li><a href="#">5er article</a></li>
                </ul>
            </li>
            <li class="deroulant"><a href="#">Moi</a>
                <ul class="sous">
                    <li><a href="#">1er article</a></li>
                    <li><a href="#">2er article</a></li>
                    <li><a href="#">3er article</a></li>
                    <li><a href="#">4er article</a></li>
                    <li><a href="#">5er article</a></li>
                </ul>
            </li>
            <li><a href="#"><img src="{{headerimg[1]}}" alt="logo contact" width="20"></a></li>
        </ul>
    </nav>  